header{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 10px;
  
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 2px;
    text-align: center;
}


